<div class="pages"><%= paginate items, :views_prefix => '' %></div>

<% items.each do |items| %>
<div class="listitem">
<h2><%= items.item_title %></h2>
<span class="date"><%=items.item_date %></span>
<div class="listinner">
  <%= simple_format(Sanitize.fragment(items.item_text, Sanitize::Config.merge(Sanitize::Config::BASIC,
  :elements        => %w[
  a abbr b blockquote cite code dd dfn dl dt em i kbd li mark ol p pre
  q s samp small strike strong sub sup time u ul var
])).gsub(/^[\s]*$\n/, "").strip) %>
<%= link_to "link to external resource", items.item_url %>
</div>
</div>
<% end %>

<div class="pages"><%= paginate items %></div>
<span class="pageInfo"><%= page_entries_info items %></span>