<div class="pages"><%= paginate items, :views_prefix => '' %></div>

<% items.each do |items| %>
	<div class="panel panel-default">
		<div class="panel-heading"><b><%= items.item_title %></b></div>

		<div class="panel-body">

			<span class="date"><%=items.item_date %></span>


			<%= simple_format(Sanitize.fragment(items.item_text.strip.gsub(/\<br\s*\/?\>/, ""), Sanitize::Config::BASIC)) %>
			<% if !items.item_url.blank? %>
			<%= link_to "link to external resource", items.item_url %>
			<% end %>
		</div>

	</div>
<% end %>

<div class="pages"><%= paginate items %></div>
<span class="pageInfo"><%= page_entries_info items %></span>