		<div class="home_newJobs new_opportunities" style="float:left;margin-left:2px;">
			<div class="head">
				<h2>Recently added job opportunities</h2>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
		</div>
		<div class="home_newJobs new_opportunities" style="float:right;margin-right:2px;">
			<div class="head">
				<h2>Recently added research opportunities</h2>
			</div>
			 <div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><i class="icon-roublesquare"></i></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
			<div class="item">
				<h3>Manufactoring& Engineering 4 month co-op</h3>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
				Procter & Gamble Inc.</p>
				<p><span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
				BrockVille</p>
			</div>
	</div> 
		<%= render 'layouts/calendar' %>
