<%= semantic_form_for :feedbank, :url => '/feedbanks#create', :remote => true, 
    :html => {:id => "input_form"} do |f| %> 

    <%= f.text_field :item_title, placeholder: "Title of Post", :size=>"50", :class => "form-control"   %>
    <br>
    <%= f.text_field :item_url, :size=>"50", :class => "title_width", placeholder: "Url to the Post", :class => "form-control" %>
    <br>

    <div id="selectType">
        <%= f.label :column_type, "Post Type: " %>
        <%= f.select(:column_type, [["Job Post", 1], ["Event Post", 2], ["News Update", 3]]) %>
        <!-- #1 is Jobs, #2 is Events, #3 is News, #4 is Research-->
    </div>

    <div id="jobBlock">
        <br>
        <%= radio_button_tag(:jobtype, "Full-Time") %>
        <%= label_tag(:full_term, "Full-Time Position") %><br>
        <%= radio_button_tag(:jobtype, "Internship") %>
        <%= label_tag(:internship, "Internship") %><br>
        <%= radio_button_tag(:jobtype, "Research") %>
        <%= label_tag(:research, "Research") %><br>
        <%= radio_button_tag(:jobtype, "Part-Time") %>
        <%= label_tag(:internship, "Part-Time/Informal Job") %>
    </div>

    <div id="eventBlock" class="hidden_class">
        <br>
        <%= f.label :select_date, "Event Date: " %><br>
        <%= select_date Date.today, prefix: :start_date %>
    </div>

    <br>

    <%= check_box_tag(:important) %>
    <%= label_tag(:important, "Important") %>

    <%= check_box_tag(:cs_grad) %>
    <%= label_tag(:cs_grad, "Graduate") %>

    <%= check_box_tag(:undergrad) %>
    <%= label_tag(:undergrad, "Undergrad") %>

    <br><br>

    <%= f.input :item_text, :as => :epic_editor %>

    <br>

    <%= f.submit "Add New Post", class: "panelButton" %>

<% end %>
