<%= semantic_form_for :feedbank, :url => '/feedbanks#create', :remote => true, 
    :html => {:id => "input_form"} do |f| %> 

    <%= f.text_field :item_title, placeholder: "Title of Post", :size=>"50", :class => "form-control"  %>
    <br>
    <%= f.text_field :item_url, :size=>"50", :class => "title_width", placeholder: "Url to the Post", :class => "form-control" %>
    <br>

    <div class="row">
         <!-- Single button -->
        <div class="btn-group col-xs-9">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Post Type <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Event Post</a></li>
            <li><a href="#">Job Post</a></li>
            <li><a href="#">News Post</a></li>
          </ul>
        </div>

    </div>

    <br>

    <div class="row">
        <!-- Rounded ONE -->
        <div class="col-xs-9">

            <div class="roundedOne userpagetop">
                <input type="checkbox" value="None" id="roundedOne" name="check" />
                <label for="roundedOne"></label>
            </div>

             <span class="userpagetop marginright">Important</span>

            <div class="roundedOne userpagetop">
                <input type="checkbox" value="None" id="roundedOne2" name="check" />
                <label for="roundedOne2"></label>
            </div>

             <span class="userpagetop marginright">Important</span>
        </div>
    </div>

   

    <br><br>

    <%= f.input :item_text, :as => :epic_editor %>

    <br>

    <%= f.submit "Add New Post", class: "panelButton" %>

<% end %>
