        <div class="main">
            <div class="contentHolder">
                <div class="list">
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/computerscience.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/computerscience.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/yncn.png" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/nspire.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/uoftengineering.gif" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/uoftengineering.gif" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/nspire.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/webdev.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/hatchery.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="listPanel">
                    <div class="listPanelJobDescription">
                        <br>
                        <h1><u><b>Learning from Demonstration Technology: A Tale of Two Applications</b></u></h1>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>University of Toronto Faculty of Computer Science</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Distinguished Lecture Series 2014</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/mic.png" %></span>
                        <h2>Karen Myers - Program Director, Intelligent Mixed-initiative Planning and Control Technologies (IMPACT) 
Artificial Intelligence Center, SRI International</h2>
                        <br>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>Tuesday, November 18, 2014, at 11:00 AM</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/user.png" %></span>
                        <h2>RSVP</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/money.png" %></span>
                        <h2>free</h2>
                        <br>
                        <br>
                        <p>Abstract:
                            <br>Learning from demonstration technology has seen increased focus in recent years as a means to endow computers with capabilities that might otherwise be difficult or time-consuming for a user to program. This talk describes two efforts that employ learning from demonstration technology to quite distinct ends. The first is to provide a capability that supports users with no programming experience in the creation of procedures that automate repetitive or time-consuming tasks. This capability has been operationally deployed within a collaborative planning environment that is used widely by the U.S. Army. The second is to support automated performance evaluation of students as they seek to acquire complex procedural skills through training in virtual environments. In this second case, instructional content developers employ learning from demonstration technology to create solution models for training exercises. An automated assessment capability employs soft graph matching to align a trace of a students response to an exercise with the solution models for that exercise, providing a flexible basis for evaluating student performance. In contrast to intelligent tutoring systems that force students to follow a pre-specified solution trajectory, our approach enables meaningful feedback in domains where solutions can have significant variability.
                        </p>
                        <br>
                        <br>
                        <div class="listPanelProceed">
                            <div class="buttonHolder">
                                <button>SAVE</button>
                            </div>
                            <div class="buttonHolder applyButton">
                                <button>DETAIL</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>