        <div class="main">
            <div class="contentHolder">
                <div class="list">
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/computerscience.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/computerscience.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/yncn.png" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/nspire.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/uoftengineering.gif" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/uoftengineering.gif" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/nspire.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/webdev.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/admins/hatchery.jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>DISTINGUISHED LECTURE SERIES 2014: ANNIVERSARY EDITION - NOV 18</h1>
                                <h2>Title:  Learning from Demonstration Technology: A Tale of Two Applications</h2>
                                <h2>Location: BA 1170</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>