        <div class="main">
            <div class="home_moduleHolder">
                <div class="home_mainModule greeting">
                    <div class="home_greetingModule">
                        <h1>Welcome User!</h1>
                        <br>
                    </div>
                    <div class="home_newJobs new_opportunities" style="float:left;margin-left:2px;">
                        <div class="head">
                            <h1>Recently added job opportunities</h1>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><i class=" icon-roublesquare"></i></span>
                            <h2> Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                    </div>
                    <div class="home_newJobs new_opportunities" style="float:right;margin-right:2px;">
                        <div class="head">
                            <h1>Recently added research opportunities</h1>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                        <div class="item">
                            <h1>Manufactoring& Engineering 4 month co-op</h1>
                            <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                            <h2>Procter & Gamble Inc.</h2>
                            <br>
                            <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                            <h2>BrockVille</h2>
                        </div>
                    </div>
                    <div class="home_calendar">
                        <div class="calendarBox weekHead">
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">M</div>
                        </div>
                        <div class="calendarBox" style="background-color:#B8B8B0">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">W</div>
                        </div>
                        <div class="calendarBox" style="background-color:#B8B8B0">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox" style="background-color:#99BACA">
                            <div class="dayWatermark">F</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                    </div>
                    <div class="week_calendar">
                        <div class="calendarBox weekHead">
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">M</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">W</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">F</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                    </div>
                    <div class="week_calendar">
                        <div class="calendarBox weekHead">
                        </div>
                        <div class="calendarBox" style="background-color:#99BACA">
                            <div class="dayWatermark">M</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">W</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">F</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                    </div>
                    <div class="week_calendar">
                        <div class="calendarBox weekHead">
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">M</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">W</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">T</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">F</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                        <div class="calendarBox">
                            <div class="dayWatermark">S</div>
                        </div>
                    </div>

                </div>
                <div class="upcomingEventList">
                    <div class="eventListItem">
                        <h1>Discovery Series</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Discovery Series</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 18, 2014, 11:00 AM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Discovery Series</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Discovery Series</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 18, 2014, 11:00 AM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Exploring Energy: Coffeehouse and Panel</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>YNCN</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>GB202</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 19, 2014, 6:00 PM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Discovery Series</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Discovery Series</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 18, 2014, 11:00 AM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Exploring Energy: Coffeehouse and Panel</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>YNCN</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>GB202</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 19, 2014, 6:00 PM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Discovery Series</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Discovery Series</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 18, 2014, 11:00 AM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Discovery Series</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Discovery Series</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 18, 2014, 11:00 AM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Discovery Series</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Discovery Series</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 18, 2014, 11:00 AM</h2>
                    </div>
                    <div class="eventListItem">
                        <h1>Discovery Series</h1>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Discovery Series</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>BA 1170</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>November 18, 2014, 11:00 AM</h2>
                    </div>
                </div>
            </div>
        </div>