        <div class="main">
            <div class="contentHolder">
                <div class="list">
                    <div class="jobCard">
                        <div class="jobCardHead">
                            <h1>more job opportunities from Coca Cola >>
                        </div>
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (1).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (2).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (7).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (8).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (9).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (10).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (6).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (5).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (4).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listPanel">
                    <div class="listPanelJobDescription">
                        <br>
                        <h1><u><b>Business Process Analyst</b></u></h1>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Coca Cola Canada</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/home.png" %></span>
                        <h2>Business Analysis Department</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                        <h2>Toronto, Ontario</h2>
                        <br>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>Start: September 1st, 2014</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/calendar.png" %></span>
                        <h2>End Date: September 1st, 2015</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/user.png" %></span>
                        <h2>Number of Position: 2</h2>
                        <br>
                        <span class="smallIcon"><%= image_tag "../assets/icons/money.png" %></span>
                        <h2>Salary: competitive</h2>
                        <br>
                        <br>
                        <p>Job Requirements:

                            <br>- Writing robust, efficient and maintainable code
                            <br>- Familiarity with HTML5, CSS, JavaScript, Node.js and NoSQL preferred
                            <br>- Solid understanding of AJAX, web sockets and client-server development
                            <br>- Mobile application development or experience with game projects an asset
                            <br>- Experience with iPhone / Objective-C a plus
                            <br>- Experience using an MVC framework
                            <br>- Excellent understanding of web architecture 
                        </p>
                        <br>
                        <br>
                        <p>Prefered Diciplines:

                            <br>- computer engineering
                            <br>- computer science
                            <br>- engineering science
                        </p>
                        <br>
                        <br>
                        <div class="listPanelProceed">
                            <div class="buttonHolder">
                                <button>SAVE</button>
                            </div>
                            <div class="buttonHolder applyButton">
                                <button>DETAIL</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>