        <div class="main">
            <div class="contentHolder">
			<div class="home_mainModule greeting">
				<%= render 'layouts/greetingModule' %>
                    </div>
                <div class="list">
                    <div class="jobCard">
                        <div class="jobCardHead">
                            <h1>more job opportunities from Coca Cola >>
                        </div>
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (1).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (2).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Full Time Merchandiser</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (7).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (8).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (9).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (10).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (6).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (5).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobCard">
                        <div class="companyInfo">
                            <div class="companyLogo">
                                <%= image_tag "../assets/companies/logo (4).jpg" %>
                            </div>
                        </div>
                        <div class="companyJobs">
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                            <div class="companyJob">
                                <h1>Business Process Analyst</h1>
                                <h2>ASAP</h2>
                                <div class="location">
                                    <span class="smallIcon"><%= image_tag "../assets/icons/location.png" %></span>
                                    <h3>Ontario Toronto</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>