<div class="_rp_T3 ms-font-weight-regular ms-font-color-neutralDark rpHighlightAllClass rpHighlightBodyClass" id="Item.MessageUniqueBody" role="button" tabindex="0"><div class="rps_e782">
<div>
<div>
<div style="width:94%; background-color:#182E64; color:#FFFFFF">
<h1 style="font-weight:normal; text-align:right; vertical-align:middle; padding-right:1em; padding-left:1em; padding-top:1ex; padding-bottom:0.5ex; min-height:70px">
<img src="http://www.cdf.toronto.edu/~pgries/dcs_logo_275px.jpg" alt="Computer Science Logo" style="float:left; vertical-align:middle"><span style="font-size:100%">DCS Undergraduate Newsletter</span><br>
<span style="font-size:75%"><%= Time.now.strftime("%d %b %y") %></span> </h1>
</div>
<div style="float:left; padding-left:1em; width:18%">
<p style="text-align:center; border-top-style:solid; border-top-color:#182E64; border-top-width:5px; border-bottom-style:solid; border-bottom-color:#182E64; border-bottom-width:5px; padding-top:1em; padding-bottom:1em">
<b>Help Centre</b><br>
Monday to Thursday<br>
4:00 to 6:00 p.m.<br>
BA 2230<br>
<a href="http://web.cs.toronto.edu/program/ugrad/ug_helpcentre.htm" target="_blank" style="color:#037">The Help Centre</a> can help you with all kinds of CSC courses. </p>
<p style="text-align:center; border-top-style:solid; border-top-color:#182E64; border-top-width:5px; border-bottom-style:solid; border-bottom-color:#182E64; border-bottom-width:5px; padding-top:1em; padding-bottom:1em">
<b>Contact Us</b><br>
Undergraduate Office<br>
Department of Computer Science<br>
BA 4252 / 4254 / 4256<br>
416.978.6360<br>
<a href="mailto:ug@cs.utoronto.ca" target="_blank" style="color:#037">ug@cs.utoronto.ca</a> </p>
<p style="text-align:center; border-top-style:solid; border-top-color:#182E64; border-top-width:5px; border-bottom-style:solid; border-bottom-color:#182E64; border-bottom-width:5px; padding-top:1em; padding-bottom:1em">
<a href="http://www.facebook.com/UOfTDepartmentOfComputerScience" target="_blank" style="color:#037"><img src="https://ugo.cdf.toronto.edu/img/f_logo_50px.png" width="30" alt="Follow on Facebook"></a> <a href="http://twitter.com/uoft_cs" target="_blank" style="color:#037"><img src="https://ugo.cdf.toronto.edu/img/twitter-bird-50px.png" width="30" alt="Follow uoft_cs on twitter"></a> <a href="http://uoft.me/2tk" target="_blank" style="color:#037"><img src="https://ugo.cdf.toronto.edu/img/LinkedIn_50px.png" width="30" alt="U of T CS on Linkedin"></a> </p>
<p style="font-size:75%; color:#182E64">This message best viewed in a non-Microsoft email program. </p>
</div>
<div style="margin-left:22%; width:70%">

<%= @current_user.news_letter_mail.intro_message %>

<p><em><span class="currentHitHighlight" id="0.00465935911051929" name="searchHitInReadingPane">Paul</span> Gries - Associate Chair for Undergraduate Studies</em> </p>
<hr style="border:0; color:#F7941E; background-color:#F7941E; height:5px; width:100%">
<h2 style="color:#182E64">In this Edition </h2>
<ul>	

 <% @current_user.news_letter_mail.news_letter_entries.all.order("ordering asc").each do |entry| %>
      <li><%= entry.entry_title %></li>
 <% end %>

</ul>

<% @current_user.news_letter_mail.news_letter_entries.all.order("ordering asc").each do |entry| %>
<hr style="border:0; color:#F7941E; background-color:#F7941E; height:2px; width:100%">
	<h3><%= entry.entry_title %></h3>
    <%= entry.entry_text.html_safe %>
<% end %>

<!-- Footer of the Email -->
<hr style="border:0; color:#F7941E; background-color:#F7941E; height:5px; width:100%">
<table style="border-collapse:separate; border-spacing:10px">
<tbody>
<tr>
<td style="text-align:center; border-bottom-style:solid; border-bottom-color:#182E64; border-bottom-width:5px">
<p><b>Career Centre Events and Postings</b> </p>
<p>The Career Centre posts job openings, helps employers set up information sessions, and offers career-related training sessions. Sign up at <a href="http://www.careers.utoronto.ca" target="_blank">http://www.careers.utoronto.ca</a> </p>
</td>
<td style="text-align:center; border-left-style:solid; border-left-color:#182E64; border-left-width:5px">
<p><b>Jobs</b> </p>
<p>We post ads for jobs from companies and individuals on the <a href="https://csc.cdf.toronto.edu/mybb/forumdisplay.php?fid=10" target="_blank">Jobs and Professional Experience board</a>. We do not vet the items, so treat these as you would a commercial job advertisement. </p>
</td>
</tr>
<tr>
<td style="text-align:center; border-right-style:solid; border-right-color:#182E64; border-right-width:5px">
<p><b>Computer Science Community Boards</b> </p>
<p><a href="https://csc.cdf.toronto.edu/" target="_blank">https://csc.cdf.toronto.edu/</a> </p>
</td>
<td style="text-align:center; border-top-style:solid; border-top-color:#182E64; border-top-width:5px">
<p><b>Events in the Department of Computer Science</b> </p>
<p><a href="http://web.cs.toronto.edu/news/events.htm" target="_blank">http://web.cs.toronto.edu/news/events.htm</a> </p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align:center; font-size:75%; color:#182E64; margin-left:22%; width:70%">
<p>These messages contain official information from the <a href="http://web.cs.toronto.edu/home.htm" target="_blank">Department of Computer Science</a>. Subscription is automatic, based on daily course and program enrolment information. For mailing list commands e-mail: <a href="mailto:ugstudents-help@cdf.toronto.edu" target="_blank">ugstudents-help@cdf.toronto.edu</a>. To unsubscribe please follow the <a href="https://ugo.cdf.toronto.edu/ugn/unsubscribe.txt" target="_blank">instructions.</a> </p>
</div>
</div>

</div>
</div></div>