<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="generator" content="HTML Tidy for Mac OS X (vers 31 October 2006 - Apple Inc. build 15.15), see www.w3.org">
        <title>
            DCS Undergraduate Newsletter <%= Time.now.strftime("%d %b %Y") %>
        </title>
    </head>
    <body>
        <div style="width:94%;background-color:#182E64;color:#FFFFFF;border-top-left-radius:20px;border-top-right-radius:20px">
            <h1 style="font-weight:normal;text-align:right;vertical-align:middle;padding-right:1em;padding-left:1em;padding-top:1ex;padding-bottom:0.5ex;min-height:70px;">
                <img style="float:left;vertical-align:middle;" src="http://www.cdf.toronto.edu/~pgries/dcs_logo_275px.jpg" alt="Computer Science Logo"><span style="font-size:100%">DCS Undergraduate Newsletter</span><br>
                <span style="font-size:75%"><%= Time.now.strftime("%d %b %Y") %></span>
            </h1>
        </div>
        <div style="position: absolute; float: left; padding-left: 1em; width: 18%;">
            <p style="text-align:center; border-top-style: solid; border-top-color: #182E64; border-top-width: 5px;border-bottom-style: solid; border-bottom-color: #182E64; border-bottom-width: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding-top:1em; padding-bottom:1em;">
                <span style="font-size:75%"><b>Help Centre</b><br>
                Monday to Thursday<br>
                4:00 to 6:00 p.m.<br>
                BA 2230<br>
                <a target="_blank" style="color:#037;" href="http://web.cs.toronto.edu/program/ugrad/ug_helpcentre.htm">The Help Centre</a> can help you with all kinds of CSC courses.</span>
            </p>
            <p style="text-align:center; border-top-style: solid; border-top-color: #182E64; border-top-width: 5px;border-bottom-style: solid; border-bottom-color: #182E64; border-bottom-width: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding-top:1em; padding-bottom:1em;">
                <span style="font-size:75%"><b>Contact Us</b><br>
                Undergraduate Office<br>
                Department of Computer Science<br>
                BA 4252 / 4254 / 4256<br>
                416.978.6360<br>
                <a target="_blank" style="color:#037;" href="mailto:ug@cs.utoronto.ca">ug@cs.utoronto.ca</a></span>
            </p>
            <p style="text-align:center; border-top-style: solid; border-top-color: #182E64; border-top-width: 5px;border-bottom-style: solid; border-bottom-color: #182E64; border-bottom-width: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding-top:1em; padding-bottom:1em;">
                <span style="font-size:75%"><a target="_blank" style="color:#037;" href="https://www.facebook.com/uoftcs"><img src="https://ugo.cdf.toronto.edu/img/f_logo_50px.png" width="30" alt="Follow on Facebook"></a> <a target="_blank" style="color:#037;" href="http://twitter.com/uoft_cs"><img src="https://ugo.cdf.toronto.edu/img/twitter-bird-50px.png" width="30" alt="Follow uoft_cs on twitter"></a> <a target="_blank" style="color:#037;" href="http://uoft.me/2tk"><img src="https://ugo.cdf.toronto.edu/img/LinkedIn_50px.png" width="30" alt="U of T CS on Linkedin"></a></span>
            </p>
            <p style="font-size:75%; color:#182E64;">
                <span style="font-size:75%">This message best viewed in a non-Microsoft email program.</span>
            </p>
        </div>
        <div style="margin-left: 22%; width: 70%;">
            <%= @current_user.news_letter_mail.intro_message.html_safe %>
            <p>
                <em>François Pitt – Associate Chair for Undergraduate Studies</em>
            </p>
            <hr style="align:center; border:0; color:#F7941E; background-color:#F7941E; height:5px; width:100%;">
            <h2 style="color: #182E64;">
                In this Edition
            </h2>
            <ul>    

             <% @current_user.news_letter_mail.news_letter_entries.all.order("ordering asc").each do |entry| %>
                  <li><%= entry.entry_title %></li>
             <% end %>

            </ul>

            <% @current_user.news_letter_mail.news_letter_entries.all.order("ordering asc").each do |entry| %>
            <hr style="border:0; color:#F7941E; background-color:#F7941E; height:2px; width:100%">
                <h3><%= entry.entry_title %></h3>
                <% if entry.entry_text %>
                    <%= entry.entry_text.html_safe %>
                <% end %>
            <% end %>
            
            <hr style="align:center; border:0; color:#F7941E; background-color:#F7941E; height:5px; width:100%;">
            <table style="border-collapse: separate; border-spacing: 10px;">
                <tr>
                    <td style="text-align:center; border-bottom-style: solid; border-bottom-color: #182E64; border-bottom-width: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;">
                        <!-- <hr style="align:center; border:#F7941E; color:#F7941E; background-color:#182E64; height:5px; width:98%;"> -->
                        <p>
                            <b>Career Centre Events and Postings</b>
                        </p>
                        <p>
                            The Career Centre posts job openings, helps employers set up information sessions, and offers career-related training sessions. Sign up at <a target="_blank" href="http://www.careers.utoronto.ca">http://www.careers.utoronto.ca</a>
                        </p>
                    </td>
                    <td style="text-align:center; border-left-style: solid; border-left-color: #182E64; border-left-width: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;">
                        <p>
                            <b>Jobs</b>
                        </p>
                        <p>
                            We post ads for jobs from companies and individuals on the <a target="_blank" href="https://csc.cdf.toronto.edu/mybb/forumdisplay.php?fid=10">Jobs and Professional Experience board</a>. We do not vet the items, so treat these as you would a commercial job advertisement.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; border-right-style: solid; border-right-color: #182E64; border-right-width: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;">
                        <p>
                            <b>Computer Science Community Boards</b>
                        </p>
                        <p>
                            <a target="_blank" href="https://csc.cdf.toronto.edu/">https://csc.cdf.toronto.edu/</a>
                        </p>
                    </td>
                    <td style="text-align:center; border-top-style: solid; border-top-color: #182E64; border-top-width: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;">
                        <p>
                            <b>Events in the Department of Computer Science</b>
                        </p>
                        <p>
                            <a target="_blank" href="http://web.cs.toronto.edu/news/events.htm">http://web.cs.toronto.edu/news/events.htm</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div style="text-align:center; font-size:75%; color:#182E64; margin-left: 22%; width: 70%;">
            <p>
                These messages contain official information from the <a target="_blank" href="http://web.cs.toronto.edu/home.htm">Department of Computer Science</a>. Subscription is automatic, based on daily course and program enrolment information. For mailing list commands e-mail: <a target="_blank" href="mailto:ugstudents-help@cdf.toronto.edu">ugstudents-help@cdf.toronto.edu</a>. To unsubscribe please follow the <a href="https://ugo.cdf.toronto.edu/ugn/unsubscribe.txt">instructions.</a>
            </p>
        </div>
    </body>
</html>
