<div class="container">

  <div class="row" style="height:20px"></div>
  <!-- Provide some top header -->

  <div class="row">
    <div class="col-md-4">

        <div class="thumbnail">

            <div class="caption">
              <h3><%= @current_user.name %></h3>
              <hr>
              <h4>Account Summary</h4>

              <p><span class="glyphicon glyphicon-envelope"></span> <%= @current_user.email %></p>
              <p><span class="glyphicon glyphicon-ok"></span> Subscribed to Weekly Email</p>
              <p><span class="glyphicon glyphicon-ok"></span> Confirmed Email</p>
              <p><span class="glyphicon glyphicon-ok"></span> Administrator</p>
              <p><span class="glyphicon glyphicon-ok"></span> Newsletter</p>
              
              <% if @current_user.email_confirmation_token != nil %>
              <hr>
                <div class="alert alert-danger" role="alert">
                    <p href="#" class="alert-link">You will not recieve any emails until
                      you confirm your email</p>
                </div>
              <% end %>

              <div id="generateMail">
                <%= render :partial => "users/userPartial/createNewsLetter" %>
              </div>

            </div>

        </div>
    </div>


    <!-- Larger tab -->
    <div class="col-md-8">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab1" data-toggle="tab">Mail Settings</a></li>
            <li><a href="#tab2" data-toggle="tab">Post Content</a></li>
            <li><a href="#tab3" data-toggle="tab">Your Posts</a></li>
            <li><a href="#tab4" data-toggle="tab">NewsLetter Generator</a></li>
            <li><a href="#tab5" data-toggle="tab">Administrator Panel</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <%= render :partial => "users/userPartial/userPreference" %>
            </div>

            <div class="tab-pane" id="tab2">
              <%= render :partial => "users/userPartial/userFeedbank" %>
            </div>

            <div class="tab-pane" id="tab3">
              <%= render :partial => "users/userPartial/userFeedbankPosts" %>
            </div>

            <div class="tab-pane" id="tab4">
               <%= render :partial => "users/userPartial/mailPanel" %>
            </div>

            <div class="tab-pane" id="tab5">
              <%= render :partial => "users/userPartial/adminPanel" %>
            </div>

          </div>
        </div>
    </div>

  </div>
</div>

