<div class="content">
    <script>

      function initialize(){
        //Initialize the object defined in Your Posts
        if (typeof pageObject == "undefined"){
          pageObject = new pageIndex(<%= @feedbank_posts.length %>, "jobPosts", "pagenumber");   
        } 

        pageObject.initialize('.a_userposts', 'posts');
      }

      <% if @current_user.account_setting.news_admin %>
        function initialize2(){
          //Initialize the object defined in NewsLetter Generator
          if (typeof pageObject2 == "undefined"){
            pageObject2 = new pageIndex(<%= @mail_posts.length %>, "itemPosts3", "pagenumber2");
        }

        pageObject2.initialize('.a_mail', 'posts3');
      }
      <% end %>

      <% if @current_user.account_setting.admin %>
        function initialize3(){
          //Initialize the object defined in NewsLetter Generator
          if (typeof pageObject3 == "undefined"){
            pageObject3 = new pageIndex(<%= @unconfirmed_posts.length %>, 
              "itemPosts2", "pagenumber3");
          }
          
          pageObject3.initialize('.a_admin', 'posts2');
        }
      <% end %>

    </script>


        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab" data-toggle="tab" onclick="initialize()">Your Posts</a></li>
            <% if @current_user.account_setting.news_admin %>
              <li><a href="#tab2" data-toggle="tab" onclick="initialize2()">NewsLetter Generator</a></li>
            <% end %>
            <% if @current_user.account_setting.admin %>
              <li><a href="#tab3" data-toggle="tab" onclick="initialize3()">Administrator Panel</a></li>
            <% end %>
          </ul>
          <div class="tab-content">
		  <div class="tab-pane active" id="tab">
              <%= render :partial => "users/userPartial/userFeedbankPosts" %>
           </div>

            <% if @current_user.account_setting.news_admin %>
              <div class="tab-pane" id="tab2">
                 <%= render :partial => "users/userPartial/mailPanel" %>
              </div>
            <% end %>

            <% if @current_user.account_setting.admin %>
              <div class="tab-pane" id="tab3">
                <%= render :partial => "users/userPartial/adminPanel" %>
              </div>
            <% end %>

          </div>
        </div>
	</div>
