<div class="usercontent">
  <!-- Provide some top header -->
	<div class="smallwrap">
    <!-- Larger tab -->
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab1" data-toggle="tab">Mail Settings</a></li>
            <li><a href="#tab2" data-toggle="tab">Post Content</a></li>
            <li><a href="#tab3" data-toggle="tab" onclick="initialize()">Your Posts</a></li>
            <% if @current_user.account_setting.news_admin %>
              <li><a href="#tab4" data-toggle="tab" onclick="initialize3()">NewsLetter Generator</a></li>
            <% end %>
            <% if @current_user.account_setting.admin %>
              <li><a href="#tab5" data-toggle="tab" onclick="initialize2()">Administrator Panel</a></li>
            <% end %>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <%= render :partial => "users/userPartial/userPreference" %>
            </div>

            <div class="tab-pane" id="tab2">
              <%= render :partial => "users/userPartial/userFeedbank" %>
            </div>

            <div class="tab-pane" id="tab3">
              <br>
              <p><b>Note:</b> If the links below are not responsive, ctr+r(reload). We are working on this problem at the moment</p>
              <%= render :partial => "users/userPartial/userFeedbankPosts" %>
            </div>

            <% if @current_user.account_setting.news_admin %>
              <div class="tab-pane" id="tab4">
                <br>
                <p><b>Note:</b> If the links below are not responsive, ctr+r(reload). We are working on this problem at the moment</p>
                 <%= render :partial => "users/userPartial/mailPanel" %>
				 <div id="generateMail">
				 <%= render :partial => "users/userPartial/createNewsLetter" %>
				 </div>
              </div>
            <% end %>

            <% if @current_user.account_setting.admin %>
              <div class="tab-pane" id="tab5">
                <br>
                <p><b>Note:</b> If the links below are not responsive, ctr+r(reload). We are working on this problem at the moment</p>
                <%= render :partial => "users/userPartial/adminPanel" %>
              </div>
            <% end %>

          </div>
        </div>
	</div>
  </div>
