<div class="row">

    <% if current_user.email_confirmation_token != "confirmed" %>
        <div class="alert alert-danger" role="alert">
            <p class="alert-link">You have not confirmed your email.</p>
        </div>
    <% end %>
    <hr>

  <div class="col-md-4">
    <div class="thumbnail">
        <%= image_tag("WebDevLogo.jpg", :alt => "WebDevLogo") %>
      <div class="caption">
        <h3><%= current_user.name %></h3>
        <hr>
        <p><span style="font-size:16px">&#9993;</span> <%= current_user.email %></p>

        <% if current_user.account_setting.student_account %>
            <p><span style="font-size:16px">&#9745;</span>  Subscribed to Mail Updates</p>
        <% else %>
            <p><span style="font-size:16px">&#9746;</span>  Subscribed to Mail Updates</p>
        <% end %>

        <% if current_user.account_setting.admin %>
            <p><span style="font-size:16px">&#9745;</span> Administrator</p>
        <% end %>

        <% if current_user.account_setting.news_admin %>
            <p><span style="font-size:16px">&#9745;</span> Newsletter-Administrator</p>
        <% end %>

        <hr>
        <div>
            <% if current_user.account_setting.student_account %>
                <%= button_to "Unsubscribe to Mailing", '/disable_student', class: "btn btn-default btn-med" %>
            <% else %>
                <% if current_user.email_confirmation_token != "confirmed" %>
                    <b>Your Email is not confirmed</b>
                    <hr>

                    <%= button_to "Subscribe to Mailing", '/student_account', class: "btn btn-default btn-med", disabled: true %>
                <% else %>

                    <%= button_to "Subscribe to Mailing", '/student_account', class: "btn btn-default btn-med"%>
                <% end %>

            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <%= render :partial => 'users/userPartial/userPreference' %>
  </div>

</div>