<h3>Mail Settings</h3>
<hr>

	<%= form_for current_user, :url => url_for(:controller => "users", 
        :action => "modify"), :remote => true do |f| %>

		 <%= f.fields_for :mail_setting do |account_form| %>

		 	<%= account_form.check_box :news %>
			<%= account_form.label :news, "News Items" %>
			<br><br>

			<%= account_form.check_box :research %>
			<%= account_form.label :research, "Research Offers" %>
			<br><br>

			<%= account_form.check_box :jobs %>
			<%= account_form.label :jobs, "Job Offers" %>
			<br><br>

			<%= account_form.check_box :events %>
			<%= account_form.label :events, "Events" %>
			
			<br><br>

			<div style="width:70%">

				<%= account_form.label :email_frequency, "Days between emails [1-7]" %><br>
				<%= account_form.text_field :email_frequency %>
			</div>

		<% end %>

		<br>
		<%= f.submit "Save changes", class: "btn btn-default btn-med" %>
		
	<% end %>

</div>
