<h3>Mail Settings</h3>
<hr>

	<%= form_for current_user, :url => url_for(:controller => "users", 
        :action => "modify"), :remote => true do |f| %>

		 <%= f.fields_for :mail_setting do |account_form| %>

		 	<%= account_form.check_box :news %>
			<%= account_form.label :news, "News Items" %>
			<br><br>

			<%= account_form.check_box :Research_job %>
			<%= account_form.label :Research_job, "Research Offers" %>
			<br><br>

			<%= account_form.check_box :full_time_job %>
			<%= account_form.label :full_time_job, "Job Time Jobs" %>
			<br><br>

			<%= account_form.check_box :Internship_job %>
			<%= account_form.label :Internship_job, "Internships" %>
			<br><br>

			<%= account_form.check_box :Part_time_job %>
			<%= account_form.label :Part_time_job, "Part-Time Job or Contracts" %>
			<br><br>

			<%= account_form.check_box :events %>
			<%= account_form.label :events, "Events" %>
			<br><br>

			<%= account_form.check_box :cs_grad %>
			<%= account_form.label :cs_grad, "Computer Science Graduate" %>
			<br><br>

			<%= account_form.check_box :cs_undergrad %>
			<%= account_form.label :cs_undergrad, "Computer Science Undergrad" %>
			<br><br>

			<div style="width:70%">

				<%= account_form.label :email_frequency, "Days between emails [1-7]" %><br>
				<%= account_form.text_field :email_frequency %>
			</div>

		<% end %>

		<br>
		<%= f.submit "Save changes", class: "btn btn-default btn-med" %>
		
	<% end %>

</div>
