<script>
	//Called if Partial is reloaded independently.
	$(document).ready(orderRelease);
    $(document).on('page:load', orderRelease);

    updateItems()
</script>

<h4>Selected Post Ordering</h4>

<hr>

<div class="row">

  <div class="col-xs-4">

  	<% if @current_user.news_letter_mail.news_letter_entries.count != 0 %>

	  	<ul id="sortable" class="list-group">
		 	<% @current_user.news_letter_mail.news_letter_entries.order("ordering asc").each do |post| %>
				<li class="list-group-item entries" data-id="<%= post.item_id %>"><%= post.entry_title %></li>
			<% end %>
		</ul>

	<% else %>
		<b>Automated NewsLetter Generator</b>
		<hr>
		<b>No Entries Selected</b>

	<% end %>

  </div>

  <div class="col-xs-8">

	<p id ="entry_count">Mail Entries Selected: <%= @current_user.news_letter_mail.news_letter_entries.count %></p>

	<%= form_for @current_user, namespace: "generator", :url => url_for(:controller => "users",
		:action => "generate_newsLetter") do |f|%>

		<%= f.label :entry_text, "Greeting Message [.MD]:" %>

		<%= f.hidden_field :ordering, :value => "" %>

		<br>
		<%= f.text_area :entry_text, :size => "45x14",  placeholder: "Place Header Message Here",
		:value => @current_user.news_letter_mail.intro_message_md, :class => "form-control", :required => true %>
		<br>
		<%= f.submit 'View .HTML', class: "btn btn-default" %>
		<%= f.submit 'Generate .MD', class: "btn btn-default" %>
	<% end %>

	<br>

	<%= form_for @current_user, namespace: "reset", :url => url_for(:controller => "users",
		:action => "mail_delete_dependencies", :required => true), :remote => true do |f|%>

		<%= f.submit "Reset Selection", class: "btn btn-default" %>
	<% end %>

  </div>

</div>