<h4>Selected Post Ordering</h4>

<hr>

<div class="row">

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>

  <div class="col-xs-4">

  	<% if @current_user.news_letter_mail.news_letter_entries.count != 0 %>

	  	<ul id="sortable" class="list-group">
		 	<% @current_user.news_letter_mail.news_letter_entries.each do |post| %>
				<li class="list-group-item"><%= post.entry_title %></li>
			<% end %>
		</ul>

	<% else %>
		<b>Automated NewsLetter Generator</b>
		<hr>
		<p>Currently, there are no entries selected, select, go to [Select Posts] Panel and pick the entries you would like to be included in this month's newsletter.</p>

	<% end %>

  </div>

  <div class="col-xs-8">

	<p>Mail Entries Selected: <%= @current_user.news_letter_mail.news_letter_entries.count %>

	<%= form_for @current_user, namespace: "generator", :url => url_for(:controller => "users",
		:action => "generate_newsLetter") do |f|%>

		<%= f.label :entry_text, "Greeting Message:" %>
		<br>
		<%= f.text_area :entry_text, :size => "45x14",  placeholder: "Place Header Message Here",
		:value => @current_user.news_letter_mail.intro_message, :class => "form-control" %>
		<br>
		<%= f.submit "Generate NewsLetter", class: "btn btn-default" %>
	<% end %>

	<br>

	<%= form_for @current_user, namespace: "reset", :url => url_for(:controller => "users",
		:action => "mail_delete_dependencies"), :remote => true do |f|%>

		<%= f.submit "Reset Selection", class: "btn btn-default" %>
	<% end %>

  </div>

</div>