<% @mail_posts.each do |post| %>
	<div id="<%= post.item_id %>" class="hidden_class" >

		<p><b>Item Title: <%= post.item_title %></b></p>
		<p>URL: <%= post.item_url %></p>
		<p>Approval Status: <%= post.approval_status %></p>

		<p>Date: <%= post.item_date %></p>
		<hr>
		<p>Text:</p>

		<p><%= Sanitize.fragment(post.item_text) %></p>

		<% if @current_user.news_letter_mail.news_letter_entries.
		    find_by(item_id: post.item_id) %>

			<%= form_for @current_user, :url => url_for(:controller => "users", 
		    	:action => "remove_newsItem", :item_id => post.item_id), :remote => true do |f|%>

		    	<%= f.submit "Remove from NewsLetter", class: "btn btn-default" %>
		    <% end %>

		<% else %>

		    <%= form_for @current_user, :url => url_for(:controller => "users", 
		        :action => "add_newsItem", :id => post.id), :remote => true do |f|%>

		        <%= f.submit "Add to NewsLetter", class: "btn btn-default" %>
		    <% end %>
		                    
		<% end %>
	</div>
<% end %>