<div class="row">

	<h4>Unapproved Posts</h4>

	<div class="col-xs-6">
		<div class="row" style="height:20px"></div>

		<div class="text-center">
			<div class="btn-group">
  			<button type="button" class="btn btn-default" 
  			onclick="pageObject3.decrement()">Prev</button>

 			<button type="button" class="btn btn-default disabled" id="pagenumber3">1</button>

  			<button type="button" class="btn btn-default" 
  			onclick="pageObject3.increment()">Next</button>
			</div>
		</div>

		<div class="row" style="height:5px"></div>


		<ul id="itemPosts2" class="nav nav-tabs nav-stacked">
	        <% @unconfirmed_posts.each do |post| %>
	            <li class="list_li"><a data-id="<%= post.item_id %>" class="a_admin"><%= post.item_title %></a></li>
	        <% end %>
	    </ul>

	</div>

	<div class="col-xs-6">
		<div class="panel-content" id= "posts2" >
			<% @unconfirmed_posts.each do |post| %>
				<div data-id="<%= post.item_id %>" class="hidden_class">
				    <p><b>Item Title: <%= post.item_title %></b></p>
				    <p>URL: <%= post.item_url %></p>
				    <p>Approval Status: <%= post.approval_status %></p>

				    <p>Date: <%= post.item_date %></p>
				    <hr>
				    <p>Text:</p>
				    <p><%= Sanitize.fragment(post.item_text)%></p>
				    
                    <%= form_for post, namespace: "approve", :url => url_for(:controller => "feedbanks",
                        :action => "approve_content", :id => post.id), :remote => true do |f|%>

                        <%= f.submit "Approve Post", class: "btn btn-default" %>
                    <% end %>

                    <br>

                    <%= form_for post, namespace: "disapprove", :url => url_for(:controller => "feedbanks",
                        :action => "disapprove_content", :id => post.id), :remote => true do |f|%>

                        <%= f.submit "Disapprove Post", class: "btn btn-default" %>
                    <% end %>
				    
				</div>
			<% end %>
		</div>

	</div>
</div>