<% if current_user.account_setting.student_account %>

		<h3>Mailing Settings</h3>

		<hr>

		<p>Your Email will be sent in a frequency of <b><%= @mail_setting.email_frequency %></b> days</p>
		<br>
		
		<% if @mail_setting.news %>
			<p><span style="font-size:16px">&#9745;</span>  Your Email <b>will</b> include News Updates</p>
		<% else %> 
			<p><span style="font-size:16px">&#9746;</span>  Your Email <b>will not</b> include News Updates</p>
		<% end %>
					
		<br>

		<% if @mail_setting.Research_job %>
			<p><span style="font-size:16px">&#9745;</span>  Your Email <b>will</b> include Research Opportunities</p>
		<% else %> 
			<p><span style="font-size:16px">&#9746;</span>  Your Email <b>will not</b> include Research Opportunities</p>
		<% end %>

		<br>

		<% if @mail_setting.full_time_job %>
			<p><span style="font-size:16px">&#9745;</span>  Your Email <b>will</b> include Full-Time </p>
		<% else %> 
			<p><span style="font-size:16px">&#9746;</span>  Your Email <b>will not</b> include Full-Time Jobs</p>
		<% end %>

		<br>

		<% if @mail_setting.Internship_job %>
			<p><span style="font-size:16px">&#9745;</span>  Your Email <b>will</b> include Internships</p>
		<% else %> 
			<p><span style="font-size:16px">&#9746;</span>  Your Email <b>will not</b> include Internships</p>
		<% end %>

		<br>

		<% if @mail_setting.Part_time_job %>
			<p><span style="font-size:16px">&#9745;</span>  Your Email <b>will</b> include Part-Time Jobs or Contracts</p>
		<% else %> 
			<p><span style="font-size:16px">&#9746;</span>  Your Email <b>will not</b> include Part-Time Jobs or Contracts</p>
		<% end %>

		<br>

		<% if @mail_setting.events %>
			<p><span style="font-size:16px">&#9745;</span>  Your Email <b>will</b> include Events</p>
		<% else %> 
			<p><span style="font-size:16px">&#9746;</span>  Your Email <b>will not</b> include Events</p>
		<% end %>

		<br>

		<p><span style="font-size:16px">&#9993;</span><b>	Next Email:</b> <%= @mail_setting.nextsend %></p>
		<br>

		<%= form_for current_user, :url => url_for(:controller => "users", 
		        :action => "change"), :remote => true do |f| %>

		    <%= f.submit "Update Settings", class: "btn btn-default btn-med" %>
		<% end %>

<% else %>

		<h3>Subscribe to Email Updates</h3>
		<hr>

		<% if current_user.email_confirmation_token != "confirmed" %>

				<p>You need to confirm your email to subscribe to our Automated Mailing</p>
				<br>

			<%= button_to "Subscribe to Automated Mailing", '/student_account', class: "btn btn-default btn-med", disabled: true %>
		<% else %>

				<p>Subscribe to Automated Mailing to keep up-to-date with all the events, news and jobs at the Computer Science Department</p>
				<br>

			<%= button_to "Subscribe to Automated Mailing", '/student_account', class: "btn btn-default btn-med"%>

		<% end %>
		
<% end %>