<% content_for :head do %>
<% end %>
<h4>Your Posts</h4>

<div class="row">

	<div class="col-xs-4">
		<div class="row" style="height:20px"></div>

		<div class="text-center">
			<div class="btn-group">
	  			<button type="button" class="btn btn-default" 
	  			onclick="pageObject.decrement()">Prev</button>

	 			<button type="button" class="btn btn-default disabled" id="pagenumber">1</button>

	  			<button type="button" class="btn btn-default" 
	  			onclick="pageObject.increment()">Next</button>
			</div>
		</div>

		<div class="row" style="height:5px"></div>


		<ul id="jobPosts" class="nav nav-tabs nav-stacked">
	        <% @feedbank_posts.each do |post| %>
	            <li><a data-id="<%= post.item_id %>" class="a_userposts"><%= post.item_title %></a></li>
	        <% end %>
	    </ul>

	</div>

	<div class="col-xs-8 list">
		<div class="panel-content" id= "posts" >
			<% @feedbank_posts.each do |post| %>
				<div data-id="<%= post.item_id %>" class="hidden_class">

					<div class="panel panel-default">
						<div class="panel-heading"><b><%= post.item_title %></b></div>

						<div class="panel-body">

							<span class="date"><%=post.item_date.to_formatted_s(:long) %></span>

							<%= simple_format(Sanitize.fragment(post.item_text.strip.gsub(/\<br\s*\/?\>/, ""), Sanitize::Config::BASIC)) %>
							<% if !post.item_url.blank? %>
							<%= link_to "link to external resource", post.item_url %>
							<% end %>
						</div>
					</div>
					<h4>Settings Information</h4>
					<hr>
					<p><b>Approval Status:</b> <%= post.approval_status %></p>
					<p><b>Undergrad Post:</b> <%= post.cs_undergrad %></p>
					<br>

					<div class="btn-group" role="group" aria-label="...">
					  <button type="button" class="btn btn-default">Delete Entry</button>
					  <button type="button" class="btn btn-default">Modify Entry</button>
					</div>

				</div>
			<% end %>
		</div>

	</div>
</div>



