<% content_for :head do %>
    <script>
        var top_elementa = 0
        var bottom_elementa = <%= @feedbank_posts.length %> * 2;
        var iterator_starta = 0;
        var iterator_enda = 21;
        var page_numbera = 1;
        function navdirection(direction){

            var jobPostsa = document.getElementById("jobPosts").childNodes;

            if (direction == 1 && iterator_enda < bottom_elementa){
                iterator_starta += 10;
                iterator_enda += 10;
                page_numbera += 1;
                document.getElementById("pagenumber").innerHTML = page_numbera
            } else if (direction == 0 && iterator_starta > top_elementa){
                iterator_starta -= 10;
                iterator_enda -= 10;
                page_numbera -= 1;
                document.getElementById("pagenumber").innerHTML = page_numbera
            } else {
                console.log("Do nothing");
            }

            for (i=0; i<jobPostsa.length; i++){
                if (i > iterator_starta && i < iterator_enda) {
                    jobPostsa[i].className = ""
                } else {
                    jobPostsa[i].className = "hidden_class";
                }
            }
        }

        var ready = function initialize(){

            var jobPostsa = document.getElementById("jobPosts").childNodes;
            var top_elementa = 0;
            var bottom_elementa = 21;
            var initalizeda = 0;
            console.log("loaded");
            console.log(document.getElementById("jobPosts").childNodes);

            for (i=0; i<jobPostsa.length; i++){
                if (i > top_elementa && i < bottom_elementa) {
                    jobPostsa[i].className = ""
                } else {
                    jobPostsa[i].className = "hidden_class";
                }
            }

            $('.a_userposts').click(function(){
                var jobPostingb_r = document.getElementById("posts").childNodes;
                console.log(document.getElementById("posts").childNodes);
                for(i=0; i<jobPostingb_r.length; i++){
                    if (jobPostingb_r[i].dataset){
                        if (jobPostingb_r[i].dataset.id == $(this).attr('data-id')){
                            jobPostingb_r[i].className = "selected";
                            console.log(jobPostingb_r[i]);
                        }
                        else{
                            jobPostingb_r[i].className = "hidden_class";
                        }
                    }
                }

            });
        }
        $(document).ready(ready);
        $(document).on('page:load', ready);

    </script>
<% end %>

<h4>Current Posts</h4>

<div class="row">

	<div class="col-xs-6">
		<div class="row" style="height:20px"></div>

		<div class="text-center">
			<div class="btn-group">
  			<button type="button" class="btn btn-default" onclick="navdirection(0)">Prev</button>
 			<button type="button" class="btn btn-default disabled" id="pagenumber">1</button>
  			<button type="button" class="btn btn-default" onclick="navdirection(1)">Next</button>
			</div>
		</div>

		<div class="row" style="height:5px"></div>


		<ul id="jobPosts" class="nav nav-tabs nav-stacked" onload="initialize()">
	        <% @feedbank_posts.each do |post| %>
	            <li><a data-id="<%= post.item_id %>" class="a_userposts"><%= post.item_title %></a></li>
	        <% end %>
	    </ul>

	</div>

	<div class="col-xs-6">
		<div class="panel-content" id= "posts" >
			<% @feedbank_posts.each do |post| %>
				<div data-id="<%= post.item_id %>" class="hidden_class">
				    <p><b>Item Title: <%= post.item_title %></b></p>
				    <p>URL: <%= post.item_url %></p>
				    <p>Approval Status: <%= post.approval_status %></p>

				    <p>Date: <%= post.item_date %></p>
				    <hr>
				    <p>Text:</p>
				    <p><%= Sanitize.fragment(post.item_text) %></p>
				</div>
			<% end %>
		</div>

	</div>
</div>



