<h4>Request for Content Creator </h4>

<br>
		          
<p>Please send a message indiciating your reason for the admin to approve your account</p>
		          
<br>
		            
<%= form_for @current_user, :url => url_for(:controller => "users", 
    :action => "request_creator"), :method => :POST do |f| %>
                
	<%= f.label :name %>
	<%= f.text_field :name, :value => @current_user.name, :class => "css_text" %>

	<%= f.label :organization %>
	<%= f.text_field :organization, placeholder: "organization", :class => "css_text" %>

	<%= f.fields_for :account_setting do |account_form| %>

		<%= account_form.label :approval_message, "Message to Admin" %>
		<%= account_form.text_area :approval_message, :rows => "6", placeholder: "Message for Administrators", :class => "css_text"  %>

	<% end %>

	<br><br>

	<%= f.submit "Request Account", class: "large" %>
<% end %>