<% if current_user.account_setting.student_account %>

	<h3>Mailing Settings</h3>
	<hr>
	<p>Please indicate if you would like Undergrad and/or Graduate Updates. </p>
	<p><b>Note:</b> If neither is selected, you will not recieve any Email Updates</p>
	<hr>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slide0" name="check" />
			<label for="slide0"></label>
		</div>

		<span class="userpagefloat">Undergrad Posts</span>
	</div>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slide1" name="check" />
			<label for="slide1"></label>
		</div>

		<span class="userpagefloat">Graduate Posts</span>
	</div>

	<hr>

	<p>Your next email will be delivered on: <b><span id="newDate"><%= current_user.mail_setting.nextsend %></span></b></p>

	<b>Email Frequency: <span id="emailfrequency"><%= current_user.mail_setting.email_frequency %></span></b>

	<div class="row" style="margin: 10px;">

		<input step="1" min="1" max="7" type="range" value="<%= current_user.mail_setting.email_frequency %>" name="email_frequency" id="email_frequency" class="inputfloat">
	</div>

	<hr>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slideThree0" name="check" />
			<label for="slideThree0"></label>
		</div>

		<span class="userpagefloat">News (Important Updates Only)</span>
	</div>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slideThree" name="check" />
			<label for="slideThree"></label>
		</div>

		<span class="userpagefloat">Internship</span>
	</div>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slideThree2" name="check" />
			<label for="slideThree2"></label>
		</div>

		<span class="userpagefloat">Research Opportunities</span>
	</div>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slideThree3" name="check" />
			<label for="slideThree3"></label>
		</div>

		<span class="userpagefloat">Full-Time Jobs</span>
	</div>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slideThree4" name="check" />
			<label for="slideThree4"></label>
		</div>

		<span class="userpagefloat">Part-Time or Contract or Volunteer</span>
	</div>

	<div class="row">
		<div class="slideThree">	
			<input type="checkbox" value="None" id="slideThree5" name="check" />
			<label for="slideThree5"></label>
		</div>

		<span class="userpagefloat">Events (Only Computer Science Related)</span>
	</div>

<% else %>

	<h3>Automated Emailing System</h3>
	<hr>
	<h4>For Students:</h4>
	<p>Our automated mailing system works to collect all the jobs, events and news updates within the Computer Science Department. We will package these updates into weekly newsletters for your mailbox. You can Unsubscribe any time.</p><br>

	<%= button_to "Subscribe to Mailing", '/student_account', class: "btn btn-default btn-med"%>

	<hr>

	<h4>For Professors, Recruiters and Club Leaders:</h4>
	<p>Creating an account with our Automated Mailing System will allow you to make posts for all Computer Science Students. If you also would like customized newsletters, please subscribe, but otherwise, we promise not to send you anything so you can keep your mailbox a bit cleaner.</p><br>

	<%= button_to "Click here to post", "/user_info", class: "btn btn-default btn-med" %>

	<hr>

	<h4>About Our Mailing System:</h4>
	<p>The Web Development Club Mailing System is developed to help CS students keep track of the number of events, jobs and news updates without having to go through the CS Facebook Page, Subscribing the Mutiple CS Clubs, Checking the CS Forum, or the CS bulletin Board. We hope that by putting everything together, we can save everyone alot of time</p>

	<br>

	<%= button_to "About our Mailing System", "/mailing", class: "btn btn-default btn-med" %>
<% end %>