<h4>Add New Post</h4>

<p>We warmly welcome any Job Offers, Research Offers, Event Posts and News Updates that may be relevant to the Computer Science Department. Your post will be listed as soon as it is approved by the DCS administrator.</p>

<% if @current_user.account_setting.admin or @current_user.account_setting.news_admin %>
    <p><b>Note:</b> As Admin, your posts will be automatically approved</p>
<% end %>

<%= form_for :feedbank, :url => '/feedbanks#create' do |f| %> 

    <%= f.label :item_title %>
    <br>
    <%= f.text_field :item_title, placeholder: " Title of Post", :size=>"50",
    :class => "form-control"   %>

    <br> <br>

    <%= f.label :item_url, " Item URL [Optional]" %>
    <br>
    <%= f.text_field :item_url, :size=>"50", :class => "title_width", placeholder: " Url to the Post", :class => "form-control"   %>

    <br><br>

    <%= f.hidden_field :user_id, :value => @current_user.id %>

    <%= f.hidden_field :item_date, :value => Time.current %>

    <% if @current_user.account_setting.admin or @current_user.account_setting.news_admin %>
        <%= f.hidden_field :approval_status, :value => :true %>
    <% else  %>
        <%= f.hidden_field :approval_status, :value => :false %>
    <% end %>

    <%= f.label :column_type, " Post Type" %>
    <br>
    <%= f.select(:column_type, [["Job Post", 1], ["Event Post", 2], ["News Update", 3],
                                        ["Research", 4]]) %>

    <!-- #1 is Jobs, #2 is Events, #3 is News, #4 is Research-->

    <br>
    <br>

    <%= f.label :item_text %>
    <br>

    <%= f.cktext_area :item_text, :class => 'ckeditor' %>

    <br><br>

    <%= f.submit "Add New Post", class: "btn btn-default btn-med" %>

<% end %>
<br>
<br>

<p><b>** General Guilelines **</b></p>

<p><b>Embeded HTML:</b> Please do not embed HTML. To prevent JS Injection, we will disable all HTML tags. Please use our own editor for styling</p>
<br>
<p><b>Startup Posting:</b> Please be as specific as possible about compensation and the nature of the position. If you are an undergraduate student looking for a cofounder, please indiciate that clearly</p>
