 <h3>Your Posts </h3><hr>

<% @feedbank_posts.each do |post| %>
    <p><b>Title: <%= post.item_title %></b></p>
    <p>URL: <%= post.item_url %></p>

    <p>Date: <%= post.item_date %></p>
    <p>User ID: <%= post.user_id%></p>
    <p>Column Type: <%= post.column_type %></p>
    <p>Text: <%= post.item_text %></p>
    <p>Post Approved: <%= post.approval_status %>

    <hr>
<% end %>