<% content_for :head do %>
<% end %>
<h4>Current Posts</h4>


<div class="row">

	<div class="col-xs-5">
		<div class="row" style="height:20px"></div>

		<div class="text-center">
			<div class="btn-group">
	  			<button type="button" class="btn btn-default" 
	  			onclick="pageObject.decrement()">Prev</button>

	 			<button type="button" class="btn btn-default disabled" id="pagenumber">1</button>

	  			<button type="button" class="btn btn-default" 
	  			onclick="pageObject.increment()">Next</button>
			</div>
		</div>

		<div class="row" style="height:5px"></div>


		<ul id="jobPosts" class="nav nav-tabs nav-stacked">
	        <% @feedbank_posts.each do |post| %>
	            <li><a data-id="<%= post.item_id %>" class="a_userposts"><%= post.item_title %></a></li>
	        <% end %>
	    </ul>

	</div>

	<div class="col-xs-7">
		<div class="panel-content" id= "posts" >
			<% @feedbank_posts.each do |post| %>
				<div data-id="<%= post.item_id %>" class="hidden_class">
				    <p><b>Item Title: <%= post.item_title %></b></p>
				    <p>URL: <%= post.item_url %></p>
				    <p>Approval Status: <%= post.approval_status %></p>

				    <p>Date: <%= post.item_date %></p>
				    <hr>
				    <p>Text:</p>
				    <p><%= Sanitize.fragment(post.item_text) %></p>
				</div>
			<% end %>
		</div>

	</div>
</div>



