<nav>
	<ul class="nav">
		<li><%= link_to "<i class='icon-homealt'></i>HOME".html_safe, "/home" %></li>
		<li><%= link_to "<i class='icon-briefcasethree'></i>JOBS".html_safe, "/jobs" %></li>
		<li><%= link_to "<i class='icon-lab-flask'></i>RESEARCH".html_safe, "/research" %></li>
		<li><%= link_to "<i class='icon-microphone'></i>EVENTS".html_safe, "/event" %></li>
		<li><%= link_to "<i class='icon-microphone'></i>NEWS".html_safe, "/news" %></li>
		<li><a href="#"><i class='icon-pen'></i>POST</a></li>
		<li><%= link_to "<i class='icon-briefcasethree'></i>MY ACCOUNT".html_safe, "/useraccount" %></li>
		<li><a href="#"><i class='icon-exit'></i>LOGOUT</a></li>
	</ul>
</nav>