<nav>
	<ul class="nav">
		<li><%= link_to "<i class='icon-microphone'></i>DEVELOPER".html_safe, "/developer" %></li>
		<li><%= link_to "<i class='icon-microphone'></i>EXPO INFO".html_safe, "/expo" %></li>
		<li><%= link_to "<i class='icon-briefcasethree'></i>JOBS POSTS".html_safe, "/jobs" %></li>
		<li><%= link_to "<i class='icon-lab-flask'></i>RESEARCH POSTS".html_safe, "/research" %></li>
		<li><%= link_to "<i class='icon-microphone'></i>EVENTS".html_safe, "/event" %></li>
		<li><%= link_to "<i class='icon-microphone'></i>NEWS UPDATES".html_safe, "/news" %></li>
	</ul>
</nav>