<div class="second">
	<div class="second_nav">
	<ul class="second">
		<li><%= link_to "DEVELOPER".html_safe, "/developer" %></li>
		<li><%= link_to "EXPO".html_safe, "/expo" %></li>
		<li><%= link_to "JOBS".html_safe, "/jobs" %></li>
		<li><%= link_to "RESEARCH".html_safe, "/research" %></li>
		<li><%= link_to "EVENTS".html_safe, "/event" %></li>
		<li><%= link_to "NEWS".html_safe, "/news" %></li>
	</ul>
	</div>
</div>