<div class="second">
	<div class="second_nav">
	<ul class="second">
		<li><%= link_to "DEVELOPER".html_safe, "/developer" %></li>
		<li><%= link_to "EXPO INFO".html_safe, "/expo" %></li>
		<li><%= link_to "JOBS OFFERS".html_safe, "/jobs" %></li>
		<li><%= link_to "RESEARCH OFFERS".html_safe, "/research" %></li>
		<li><%= link_to "EVENT POSTS".html_safe, "/event" %></li>
		<li><%= link_to "NEWS UPDATES".html_safe, "/news" %></li>
	</ul>
	</div>
</div>