<!DOCTYPE html>
<html>
	<head>
		<title>UofT Web Development Club</title>
		<%= render 'layouts/cssHook' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'ckeditor/ckeditor.js' %>
		<%= csrf_meta_tags %>
		<%= yield :head %> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta charset="UTF-8">
		<meta name="description" content="Homepage of UofT's Web Development Club and prototype of a condensed email based mailing system">
		<meta name="keywords" content="UofT, Web, Development, Club, Computer, Science,
		HTML, email, CSS, Javascript, Mailing">

		<meta name="author" content="Web Club Developers">
		<meta property="og:type" content="activity" />

		<meta property="og:description" content="Homepage of UofT's Web Development Club and prototype of a condensed email based mailing system" />

		<meta property="og:image" content="http://i.imgur.com/9m8X8Xy.jpg" />
		<meta property="og:image:secure_url" content="https://www.dropbox.com/s/6x6n8quh6fspj5g/web_logo.jpg?dl=0" />
		<meta property="og:image:width" content="200" />
		<meta property="og:image:height" content="200" />

		<meta name="google-site-verification" content="9zyLGCCsP8LpuIAs92t970JXaoePD6RKV6Z7Lghf1zc" />

	</head>
	<body<% if content_for?(:body_attributes) %><%= yield(:body_attributes) %><% end %>>
	<div class="wrapper">
	<div class="topwrap">
		<%= render 'layouts/topModule' %>
		<%= render 'layouts/secondModule' %>
	</div>
		<div class="fixedWrapper">
			<div class="content">
				<%= yield %>
			</div>
		</div>
	</div>
	<div class="footer">
		<%= render 'layouts/footer' %>
	</div>
	</body>
</html>
